//@use '../../styles/tokens' as vars;

.timer {
  color: var(--accent-color);

  &__value {
    font-weight: bold;
    font-size: 24px;
    color: var(--accent-color);

    &--low {
      color: var(--timer-low);
    }
  }
}
