$neutral-900: #121212;
$neutral-800: #262626;
$neutral-500: #717178;
$neutral-400: #949497;
$neutral-0: #ffffff;

$pastel-pink-100: #fff1f5;
$pastel-purple-100: #f3e8ff;
$mint-100: #ecfdf5;
$baby-blue-100: #eff6ff;

$vscode-900: #1e1e1e;
$vscode-800: #2d2d2d;
$vscode-400: #cccccc;

$blue-600: #177dff;
$blue-400: #4ca6ff;

$red-500: #d64d5b;

$green-500: #4dd67b;

$yellow-400: #f4dc73;
