$radius-none: 0;
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 16px;
$radius-xl: 20px;
$radius-2xl: 24px;
$radius-3xl: 32px;
$radius-4xl: 40px;
$radius-5xl: 48px;
$radius-6xl: 50px;
$radius-full: 9999px;
