@use '../../styles/tokens' as vars;

.typing-display {
  min-height: 144px;
  width: 100%;

  &__char {
    color: var(--text);
    border-left: 2px solid transparent;
    font-size: vars.$font-size-2xl;

    @media (max-width: 768px) {
      font-size: vars.$font-size-xl;
    }

    @media (max-width: 480px) {
      font-size: vars.$font-size-lg;
    }

    &--correct {
      color: var(--text-correct);
    }

    &--incorrect {
      color: var(--text-incorrect);
      text-decoration: underline;
    }

    &--current {
      background-color: var(--bg-char);
      border-left: 2px solid var(--accent-color);
      animation: blink 1s infinite;
    }
  }
}
