@use '../../styles/tokens' as vars;

.header {
  width: 100%;
  position: relative;
  z-index: 200;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__personalBest {
    display: flex;
    align-items: center;
  }

  &__bestContent {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__info {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-right: 10px;
  }

  &__icon {
    color: var(--header-pb-icon);
    display: flex;
    align-items: center;
  }

  &__label {
    color: var(--header-pb);
  }

  &__valueWrapper {
    display: flex;
    align-items: baseline;
    color: var(--header-pb-value);
    gap: 4px;
  }

  &--kids {
    .header__info {
      flex-direction: column;
      align-items: flex-start;
      font-weight: 700;
      gap: 0;
      margin-right: 18px;
    }

    .header__valueWrapper {
      text-shadow: 1px 1px 0px black;
    }

    .header__icon {
      fill: var(--header-pb-icon);
      color: #222222;
      filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
    }
  }
}

@media (max-width: 768px) {
  .header {
    &--kids {
      .header__info {
        margin-right: 14px;
      }
    }
  }
}

@media (max-width: 740px) {
  .header {
    &__label {
      display: none;
    }

    &__valueWrapper {
      font-size: 14px;
    }

    &__info {
      margin-right: 6px;
    }

    &__bestContent {
      gap: 6px;
    }
  }
}

@media (max-width: 700px) {
  .header {
    &__valueWrapper {
      font-size: 12px;
    }

    &--kids {
      .header__info {
        margin-right: 10px;
      }
    }
  }
}
