@use '../../styles/tokens' as vars;

.header {
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__personalBest {
    display: flex;
    align-items: center;
  }

  &__bestContent {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__info {
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  &__icon {
    color: var(--header-pb-icon);
    display: flex;
    align-items: center;
  }

  &__label {
    color: var(--header-pb);
  }

  &__valueWrapper {
    display: flex;
    align-items: baseline;
    color: var(--header-pb-value);
    gap: 4px;
  }

  &--kids {
    .header__info {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
