.results-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-body);
  animation: fadeIn 0.3s ease-out;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    line-height: 1.5;
  }

  &__icon {
    margin-bottom: 18px;
  }

  &__title {
    font-size: 30px;
  }

  &__description {
    font-size: 16px;
    color: var(--text-secondary);
    text-align: center;
  }

  &__card {
    background: transparent;
    color: var(--text-secondary);
    padding: 48px 32px;
    border-radius: 12px;
    border: 1px solid var(--border-toolbar);
    width: 90%;
    min-width: 320px;
    max-width: 500px;
    min-height: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    box-shadow: 0 30px 60px var(--shadow-popover);
  }

  &__stats {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin: 40px 0;
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__label {
    font-size: 14px;
    color: var(--label);
    letter-spacing: 0.1em;
  }

  &__value {
    color: var(--value);
    font-size: 32px;
    font-weight: 700;
  }

  &__chars {
    display: flex;
    align-items: baseline;

    &--correct {
      color: var(--text-correct);
    }

    &--mistakes {
      color: var(--text-incorrect);
      //transform: translateY(0.3px);
    }

    &--separator {
      margin: 0 4px;
      color: var(--text-ghost);
    }
  }

  &__btn {
    max-width: 216px;
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 8px;
    background: var(--accent-color);
    color: var(--text-on-accent);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition:
      background-color 0.2s ease,
      transform 0.1s ease;

    &:hover {
      background: var(--accent-color);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
