.results-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    line-height: 1.5;
  }

  &__icon {
    margin-bottom: 18px;
  }

  &__title {
    font-size: 30px;
  }

  &__description {
    font-size: 16px;
    text-align: center;
  }

  &__card {
    background: #111;
    color: #fff;
    padding: 32px;
    border-radius: 12px;
    border: 1px solid #222;
    width: 90%;
    min-width: 320px;
    max-width: 500px;
    min-height: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  }

  &__stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 54px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__label {
    font-size: 16px;
    color: #9ca3af;
    letter-spacing: 0.1em;
  }

  &__value {
    font-size: 18px;
    font-weight: 700;
  }

  &__chars {
    display: flex;
    align-items: baseline;

    &--correct {
      color: #22c55e;
    }

    &--mistakes {
      color: #ef4444;
      transform: translateY(0.5px);
    }

    &--separator {
      margin: 0 4px;
      color: #9ca3af;
    }
  }

  &__btn {
    max-width: 216px;
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 8px;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.9;
    }
  }
}
