@use '../../styles/tokens' as vars;

.kids-page {
  min-height: 100vh;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(vars.$candy-black 1px, transparent 0);
  background-size: 30px 30px;

  &__toolbar {
    width: 100%;
    max-width: 900px;
  }

  &__stats {
    display: flex;
    justify-content: space-around;
    padding: 24px;
    background: vars.$candy-white;
    border: 4px solid vars.$candy-black;
    box-shadow: 8px 8px 0px vars.$candy-black;
    border-radius: 20px;
    margin-top: 30px;
  }

  &__stat {
    text-align: center;
  }

  &__label {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    color: vars.$candy-black;
    margin-bottom: 8px;
  }

  &__value {
    font-size: 56px;
    font-weight: 900;
    color: vars.$candy-blue;
    -webkit-text-stroke: 1.5px vars.$candy-black;
    line-height: 1;
  }

  &__config {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  &__main {
    margin: 32px 0;
    width: 100%;
    max-width: 900px;
    background: vars.$candy-white;
    padding: 48px;
    border: 4px solid vars.$candy-black;
    box-shadow: 12px 12px 0px vars.$candy-yellow;
    border-radius: 30px;
    position: relative;
  }

  &__btn-refresh {
    background: vars.$candy-green;
    border: 4px solid vars.$candy-black;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    color: vars.$candy-black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 5px 0px vars.$candy-black;
    transition: all 0.1s;

    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: 7px 7px 0px vars.$candy-black;
    }

    &:active {
      transform: translate(4px, 4px);
      box-shadow: 0px 0px 0px vars.$candy-black;
    }
  }
}

@media (max-width: 1186px) {
  .kids-page {
    padding: 30px 80px;
  }
}

// @media (max-width: 1128px) {
//   .kids-page {
//   }
// }
