@use '../../styles/tokens' as vars;

.kids-page {
  min-height: 100dvh;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(vars.$candy-black 1px, transparent 0);
  background-size: 30px 30px;
  overflow: hidden;

  :focus-visible {
    outline: 4px dashed vars.$candy-blue;
    outline-offset: 4px;
    border-radius: 8px;
  }

  &__toolbar {
    width: 100%;
    max-width: 900px;
  }

  &__stats {
    display: flex;
    justify-content: space-around;
    padding: 24px;
    background: vars.$candy-white;
    border: 4px solid vars.$candy-black;
    box-shadow: 8px 8px 0px vars.$candy-black;
    border-radius: 20px;
    margin-top: 30px;
  }

  &__stat {
    text-align: center;
  }

  &__label {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    color: vars.$candy-black;
    margin-bottom: 8px;
  }

  &__value {
    font-size: 56px;
    font-weight: 900;
    color: vars.$candy-blue;
    -webkit-text-stroke: 1.5px vars.$candy-black;
    line-height: 1;
  }

  &__config {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  &__main {
    margin: 32px 0;
    width: 100%;
    max-width: 900px;
    min-height: 200px;
    background: vars.$candy-white;
    padding: 48px;
    border: 4px solid vars.$candy-black;
    box-shadow: 12px 12px 0px vars.$candy-yellow;
    border-radius: 30px;
    position: relative;
  }

  &__btn-refresh {
    background: var(--accent-color);
    border: 4px solid vars.$candy-black;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    color: vars.$candy-black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 5px 0px vars.$candy-black;
    transition: all 0.1s;

    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: 7px 7px 0px vars.$candy-black;
    }

    &:active {
      transform: translate(4px, 4px);
      box-shadow: 0px 0px 0px vars.$candy-black;
    }

    &:focus-visible {
      background: vars.$candy-yellow;
      transform: scale(1.1);
    }
  }

  &__btn-refresh-icon {
    width: 32px;
    height: 32px;
  }

  &__modal-icon {
    width: 60px;
    height: 60px;
  }

  &__modal-icon--star {
    color: vars.$candy-yellow;
  }

  &__modal-icon--rocket {
    color: var(--accent-color);
  }

  &__modal-icon--party-popper {
    color: var(--accent-color);
  }
}

@media (max-width: 1186px) {
  .kids-page {
    padding: 30px 80px;
  }
}

@media (max-width: 1126px) {
  .kids-page {
    &__main {
      max-width: 800px;
    }

    &__toolbar {
      max-width: 800px;
    }

    &__label {
      font-size: 14px;
    }

    &__value {
      font-size: 50px;
    }
  }
}

@media (max-width: 1060px) {
  .kids-page {
    padding: 32px 50px;

    &__main {
      padding: 36px;
    }
  }
}

@media (max-width: 768px) {
  .kids-page {
    padding: 30px 35px;

    &__label {
      font-size: 12px;
    }

    &__value {
      font-size: 40px;
    }

    &__btn-refresh {
      width: 70px;
      height: 70px;
    }

    &__btn-refresh-icon {
      width: 28px;
      height: 28px;
    }
  }
}

@media (max-width: 480px) {
  .kids-page {
    padding: 20px 20px;

    &__label {
      font-size: 10px;
    }

    &__value {
      font-size: 32px;
    }

    &__stats {
      padding: 14px;
    }

    &__main {
      padding: 24px;
    }
    &__btn-refresh {
      width: 60px;
      height: 60px;
    }

    &__btn-refresh-icon {
      width: 24px;
      height: 24px;
    }
  }
}
